body {  }

div{
overflow:auto; }

h1.top{
    background-color:#008080;
    font-size:30px; 
    padding: 14px;
    color:white;
    margin-bottom:0;
    margin-top:0;}
    
    h1.heading {
   text-align: center;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top:0;}
    
li {
    float: left;}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 70px;
    text-decoration: none;
	}

li a:hover {
    background-color: #111;}


p.describe {
		   margin-left:150px;
		   margin-right:150px;
           margin-top:5px;
           text-align:justify;
		   font-size:16px;
           color:#6E6E6E; 
		   }